<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Displaying five images in IBM cloud Storage</title>
    <link rel="stylesheet" href="https://ass3css.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>
<body>
<h1>DISPLAYING FIVE IMAGES IN IBM CLOUD STORAGE</h1>
<div class="row">
  <div class="column">
    <img src="https://flaskapp33.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic01.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://flaskapp33.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic02.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://flaskapp33.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic03.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="https://flaskapp33.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic04.jpg" style="width:100%">
  </div>
  
    <div class="column">
    <img src="https://flaskapp33.s3.jp-tok.cloud-object-storage.appdomain.cloud/pic06.jpg" style="width:100%">
  </div>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "041e9a73-b7e0-48a5-afd0-f7c6b5912fbc", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "7a9007dc-58fc-4a44-bb41-25a210b75974", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>
</html>
